.#{$utility-prefix} {
  &-list-style-none {
    padding-inline-start: 0;
    list-style: none;

    >li {
      margin: 0;
    }
  }

  //Border Utilities
  &-border-1 {
    border: rem(1px) solid var(--c-offblack);

    &--top {
      border-top: rem(1px) solid var(--c-offblack);
    }

    &--bottom {
      border-bottom: rem(1px) solid var(--c-offblack);
    }

    &--start {
      border-left: rem(1px) solid var(--c-offblack);
    }

    &--end {
      border-right: rem(1px) solid var(--c-offblack);
    }
  }

  &-border-1-beige {
    border: rem(1px) solid var(--c-beige);

    &--top {
      border-top: rem(1px) solid var(--c-beige);
    }

    &--bottom {
      border-bottom: rem(1px) solid var(--c-beige);
    }

    &--start {
      border-left: rem(1px) solid var(--c-beige);
    }

    &--end {
      border-right: rem(1px) solid var(--c-beige);
    }
  }

  &-ratio {
    &-2x1-3x1 {
      aspect-ratio: var(--ratio-2x1);

      @include breakpoint-up(md) {
        aspect-ratio: var(--ratio-3x1);
      }
    }

    &-1x1-4x3 {
      aspect-ratio: var(--ratio-1x1);

      @include breakpoint-up(md) {
        aspect-ratio: var(--ratio-4x3);
      }
    }

    &-1x1-21x9 {
      aspect-ratio: var(--ratio-1x1);

      @include breakpoint-up(md) {
        aspect-ratio: var(--ratio-21x9);
      }
    }
  }
}
